.center {
	margin-left: auto;
	margin-right: auto;
}

.mini-container {
	position: absolute;
	width: 350px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text-justify {
	text-align: justify;
}
